<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">Companies</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->


  </nav>
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                  <a class="nav-link" [routerLink]="['/list']">
                    <div class="sb-nav-link-icon"></div>
                    All Companies
                </a>
                <a class="nav-link" [routerLink]="['/add']">
                  <div class="sb-nav-link-icon"></div>
                  Add Company
              </a>

                </div>
            </div>

        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Edit Company Details</h1>


                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-building mr-1"></i>
                        Enter Company Details
                    </div>
                    <div class="card-body">
                        <form [formGroup]="companyForm"   (ngSubmit)="OnSubmit()" >
                            <div  style="margin-bottom: 20px;">

                                <mat-form-field style="width: 100%;" appearance="outline">
                                    <mat-label>Name</mat-label>

                                  <input type="text" [formControl]="RequiredValidationName" [errorStateMatcher]="matcher" value="company.Name" matInput placeholder="Full name" name="Name"  [(ngModel)]="company.Name">
                                  <mat-error *ngIf="RequiredValidationName.hasError('required')">
                                    Name Is Required
                                  </mat-error>
                                </mat-form-field><br>

                                <mat-form-field style="width: 100%;" appearance="outline">
                                    <mat-label>Email</mat-label>
                                  <input  type="email" [formControl]="RequiredValidationEmail" [errorStateMatcher]="matcher" matInput value="company.Email"  placeholder="Email" name="Email"  name="Email" [(ngModel)]="company.Email" >
                                  <mat-error *ngIf="RequiredValidationEmail.hasError('required')">
                                    Email Is Required
                                  </mat-error>
                                  <mat-error *ngIf="RequiredValidationEmail.hasError('email') && !RequiredValidationEmail.hasError('required')">
                                    Please Enter a Valid Email
                                  </mat-error>
                                  </mat-form-field><br>

                                <mat-form-field style="width: 100%;" appearance="outline">
                                    <mat-label>Address</mat-label>
                                  <input type="text" [formControl]="RequiredValidationAddress"  [errorStateMatcher]="matcher" matInput value="company.Address" placeholder="Address" name="Address"  [(ngModel)]="company.Address">
                                  <mat-error *ngIf="RequiredValidationAddress.hasError('required')">
                                    Address No Is Required
                                  </mat-error>
                                </mat-form-field><br>
                                <mat-form-field style="width: 100%;" appearance="outline">
                                    <mat-label>Total Employee</mat-label>
                                  <input type="number" [formControl]="RequiredValidationTotalEmployee"  [errorStateMatcher]="matcher" matInput value="company.TotalEmployee" placeholder="TotalEmployee" name="TotalEmployee"  [(ngModel)]="company.TotalEmployee">
                                  <mat-error *ngIf="RequiredValidationTotalEmployee.hasError('required')">
                                    No of employees No Is Required
                                  </mat-error>
                                </mat-form-field><br>
                                <mat-form-field style="width: 100%;" appearance="outline">
                                    <mat-label>Is Active</mat-label>

                                    <select matNativeControl  [formControl]="RequiredValidationStatus" class="form-control" value="company.IsCompanyActive" [(ngModel)]="company.IsCompanyActive" name="IsCompanyActive" >
                                        <option  value="true">Yes</option>
                                        <option  value="false">no</option>

                                    </select>
                                    <mat-error *ngIf="RequiredValidationStatus.hasError('required')">
                                        Status Is Required
                                  </mat-error>
                                </mat-form-field>
                                

                                  <mat-form-field style="width: 100%;" appearance="outline">
                                      <mat-label>Branch Name</mat-label>
    
                                    <input type="text" [formControl]="RequiredValidationName" [errorStateMatcher]="matcher" matInput placeholder="Branch name" name="Name"  [(ngModel)]="company.BranchName">
                                    <mat-error *ngIf="RequiredValidationName.hasError('required')">
                                      Branch Name Is Required
                                    </mat-error>
                                  </mat-form-field><br>
    
                                  <mat-form-field style="width: 100%;" appearance="outline">
                                      <mat-label>Branch Address</mat-label>
    
                                    <input type="text" [formControl]="RequiredValidationName" [errorStateMatcher]="matcher" matInput placeholder="Branch Address" name="Name"  [(ngModel)]="company.BranchAddress">
                                    <mat-error *ngIf="RequiredValidationName.hasError('required')">
                                      Branch Address Is Required
                                    </mat-error>
                                  </mat-form-field><br>

                              <p *ngIf="isError" style="color: red;">{{errorMessage}}</p>

                                <button mat-raised-button class="btn btn-primary" [disabled]="companyForm.invalid">Edit</button>

                        </div>
                        </form>

                    </div>
                </div>
            </div>
        </main>
        
    </div>
  </div>
  